@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div class="text-center">
    <h1 class="display-4 border-bottom">Welcome To The BookList</h1>
</div>
<div>
    @foreach (var b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }
</div>
<!--Uses the tag helpers to create dynamic CSS for the page numbers-->
<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
<!--Current Category set in the Project List View Model-->
